@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model FlowersStore.ViewModels.ProfileViewModel
@using FlowersStore.Controllers

@{
    ViewData["Title"] = "Profile";
    var HttpContextUser = HttpContextAccessor.HttpContext.User.Identity.Name;
    var key = "SubmitProfileDialog";
    var frmId = $"{key}_F";
    var msgId = $"{key}_M";
    var btnId = $"{key}_B";
}

<div class="container container-profile">
    <section class="profile">
        <div class="profile-header">
            <div class="profile-avatar">
                <img src="~/Image/profile.svg" alt="avatart-image" class="avatar" />
            </div>
            <div class="profile-title">
                <div class="profile-fullName">@Model.Name @Model.SecondName</div>
                <div class="profile-subtitle">
                    <a href="mailto:@Model.Email" class="profile-email">@Model.Email</a>
                    <div class="profile-role">- @Model.Role</div>
                </div>
            </div>
        </div>
        <div class="profile-title-group">
            <h3 class="checkout-group__title">@ViewData["Title"]</h3>
            <div class="profile-role profile-title-subtitle">Here you can edit your profile</div>
        </div>
        <div class="profile-body">
            <form class="profile-form" id="@frmId" method="post" enctype="multipart/form-data">
  
                <div class="profile-data">
                    <div class="profile-data-desc profile-data__name">Name</div>
                    <input asp-for="Name" type="text" value="@Model.Name" class="profile-data__input input-style" />
                </div>
                <div class="profile-data">
                    <div class="profile-data-desc profile-data__secondName">SecondName</div>
                    <input asp-for="SecondName" type="text" value="@Model.SecondName" class="profile-data__input input-style" />
                </div>
                <div class="profile-data">
                    <div class="profile-data-desc profile-data__phone">Phone</div>
                    <input asp-for="Phone" type="tel" value="@Model.Phone" class="profile-data__input input-style" />
                </div>
                <div class="profile-data">
                    <div class="profile-data-desc profile-data__email">Email</div>
                    <input asp-for="Email" type="email" value="@Model.Email" class="profile-data__input input-style" />
                </div>

                <div class="profile-confirm-pass">Write new password or confirm old password to save settings.</div>

                <div class="profile-data">
                    <div class="profile-data-desc profile-data__password">Password</div>
                    <input asp-for="Password" type="password" value="" class="profile-data__input input-style" />
                </div>
                <div class="profile-data">
                    <div class="profile-data-desc profile-data__ConfirmPassword">ConfirmPassword</div>
                    <input asp-for="ConfirmPassword" type="password" value="" class="profile-data__input input-style" />
                </div>
                @*<div class="profile-data">
                    <a href="#" class="profile-forgot-pass-link">forgot password ?</a>
                </div>*@
                <div class="error-label">
                    <label id="@msgId" class="alert-danger m-1"></label>
                </div>

                <button type="submit" class="button-btn btn-user-changes auth" id="@btnId">Save changes</button>

            </form>
        </div>
    </section>
</div>

<script>
    document.getElementById('@btnId').addEventListener('click', (e) => {
        dialogPost(e, '@key', '@(new Link(nameof(ProfileController), nameof(ProfileController.ChangeUserModel)).ToString())');
         document.getElementById('@msgId').style.backgroundColor = '#f8d7da';
            setTimeout(() => {
                if (document.getElementById('@msgId').innerText.includes('successful')) {
                    document.getElementById('@msgId').style.backgroundColor = '#58c455';
                }
            }, 400);
    });
</script>