@model FlowersStore.ViewModels.StoreViewModel


<div class="container">
    <section class="store">
        <div class="store-heading">
            <h2 class="store-title">Products</h2>
            <label class="search">
                <input type="text" placeholder="Search" class="input input-search" />
            </label>
        </div>
        <div class="shoping-cards">
            @foreach (Product product in Model.Products)
            {

                var base64 = Convert.ToBase64String(product.Image);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                var price = @product.Price.ToString();
                var trimPrice = decimal.Parse(price.Contains(',') ? price.TrimEnd('0') : price);

                var productId = product.ProductId.ToString();

                <div class="card shoping-card" id="@productId">
                    <div class="card-image">
                        <img src="@imgSrc" alt="image" class="card-shoping-image">
                    </div>
                    <div class="card-text">
                        <div class="card-heading">
                            <div class="card-title">@product.Name</div>
                            <div class="card-category">@product.Category.FlowersType</div>
                            <div class="card-description">@product.Description</div>
                        </div>
                        <div class="card-info">
                            <div class="card-color-box">
                                <div class="card-color-icon color-box"></div>
                                <div class="card-color color-box">@product.Color</div>
                            </div>
                            <div class="card-payment">
                                <div class="card-quantity">
                                    <div class="quantity-group">
                                        <a class="product-count-button counter-minus">-</a>
                                        <div class="quantity-count">
                                            <span class="quantity-count-span">7</span>
                                        </div>
                                        <a class="product-count-button counter-plus">+</a>
                                    </div>
                                </div>
                                <div class="card-price">@trimPrice <span>€</span></div>
                                <button class="card-btn-add btnClick btn loginBtn btnBorder" onclick="location.href = '@Url.Action("AddToBasket", "Store", new {id = productId, quantity = "3"})'">В КОРЗИНУ</button>
                            </div>
                        </div>
                    </div>
                </div>
             }
        </div>
    </section>
</div>



