@model FlowersStore.ViewModels.BasketViewModel

@{
    ViewData["Title"] = "BASKET";
}

<div class="container container-basket">
    <section class="basket">
        <h1 class="title">@ViewData["Title"] &rarr; <span class="basket-user">@Model.UserName</span></h1>

        <form class="basket-form" action="#" method="post">

            <table class="basket-table" cellspacing="0">
                <thead>
                    <tr class="basket-header">
                        <th class="basket-product-remove">&nbsp;</th>
                        <th class="basket-product-thumbnail">&nbsp;</th>
                        <th class="basket-product-name">Product</th>
                        <th class="basket-product-price">Price</th>
                        <th class="basket-product-quantity">Quantity</th>
                        <th class="basket-product-subtotal">SubTotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cart in Model.ShopingCarts)
                    {

                        var base64 = Convert.ToBase64String(cart.Product.Image);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        var price = @cart.Product.Price.ToString();
                        var trimPrice = decimal.Parse(price.Contains(",") ? price.TrimEnd('0') : price);

                        var buttonId = cart.ProductId;
                        var quantityId = cart.ProductId;
                        var buttonDeleteId = "button_" + buttonId;
                        var cartId = cart.CartId.ToString();

                        var minusBtn = buttonId + "_M";
                        var quantityBasket = buttonId + "_Q";
                        var plusBtn = buttonId + "_P";
                        var productPrice = buttonId + "_Pr";
                        var subTotal = buttonId + "_St";

                        var amount = cart.Quantity * trimPrice;

                        <tr class="basket-cart-item" id="@cartId">

                            <td class="basket-product-remove">
                                <button class="product-remove" id="@buttonDeleteId" style="outline: none;" aria-label="delete product">×</button>
                            </td>

                            <td class="basket-product-mini-img">
                                <img width="300" height="300" src="@imgSrc" class="basket-mini-img" alt="mini-img" loading="lazy">
                            </td>

                            <td class="basket-product-descr" data-title="Description">
                                <a class="product-name">@cart.Product.Name</a>
                                <a class="product-category">@cart.Product.Category.FlowersType</a>
                            </td>

                            <td class="basket-product-price" data-title="Price">
                                <span id="@productPrice" class="basket-product-amount amount-prc">@trimPrice <span class="span-style">€</span></span>
                            </td>

                            <td class="basket-product-quantity" data-title="quantity">
                                <div class="basket-product-container">
                                    <button id="@minusBtn" onclick="changeMinus(this)" type="button" class="basket-product-counter basket-minus">-</button>
                                    <span id="@quantityBasket" name="@quantityId" class="span-product-quantity">@cart.Quantity</span>
                                    <button id="@plusBtn" onclick="changePlus(this)"  type="button" class="basket-product-counter basket-plus">+</button>

                                    <script>
                                        document.getElementById("@buttonDeleteId").addEventListener("click", (e) => {
                                            e.preventDefault();
                                            document.getElementById("@buttonDeleteId").setAttribute("disabled", true);
                                            ajaxPost("/Basket/DeleteFromBasket?id=" + "@cartId", null, (callback) => {
                                                let shoppingCart = document.getElementById("@cartId");
                                                shoppingCart.classList.add('box-hide');
                                                let subTot = document.getElementById("@subTotal");
                                                let total = document.getElementById("SumTotalBasket");
                                                showInfoBox(callback);
                                                setTimeout(() => {
                                                    total.innerText = parseInt(total.innerText) - parseInt(subTot.innerText);
                                                    shoppingCart.remove();
                                                }, 500);
                                            });
                                        });
                                    </script>
                                </div>
                            </td>

                            <td class="basket-product-subtotal" data-title="subtotal">
                                <span class="basket-price-amount"><bdi id="@subTotal" class="amount">@amount</bdi></span>
                                <span class="span-style">€</span>
                            </td>
                        </tr>
                    }

                    <tr class="basket-cart-footer">
                        <td colspan="6" class="basket-actions">
                            <span class="basket-price-amount "><bdi class="basket-product-amount">Total: <span id="SumTotalBasket" class="amount-total">0</span> <span class="span-style">€</span></bdi></span>
                        </td>
                    </tr>
                    <tr class="basket-cart-footer">
                        <td colspan="6" class="basket-actions">
                            <button type="submit" class="basket-submit-btn button-btn" name="Checkout" value="Checkout" aria-disabled="false">Checkout</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </form>

    </section>
</div>