@using FlowersStore.Controllers
@model FlowersStore.ViewModels.LoginViewModel


@{
    Layout = null;
    var key = "SubmitLoginDialog";
    var frmId = $"{key}_F";
    var msgId = $"{key}_M";
    var btnId = $"{key}_B";
}

<script defer src="~/lib/jquery/dist/jquery.min.js"></script>
<script defer src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<div class="container-modal">
    <!-- Login-->
    <form class="container-modal__form container-modal--signin" id="@frmId" method="post" enctype="multipart/form-data">
        <div class="form form2">
            <h2 class="form__title">Login</h2>
            <input asp-for="Name" class="input-form-control" placeholder="Name" id="nametxt" type="text" />
            <input asp-for="Password" class="input-form-control" placeholder="Password" id="passwordtxt" type="password" />
            <a href="#" class="link">Forgot your password?</a>
            <div>
                <label id="@msgId" class="alert-danger m-1"></label>
            </div>
            <button type="submit" class="button-btn btn-login" id="@btnId">Login</button>
        </div>
    </form>
    <!-- Registration -->
    <form class="container-modal__form container-modal--signup">
        <div class="form form1">
            <h2 class="form__title">Registration</h2>
            <input type="text" placeholder="Name" class="input-form-control" />
            <input type="text" placeholder="SecondName" class="input-form-control" />
            <input type="tel" placeholder="Phone" class="input-form-control" />
            <input type="email" placeholder="Email" class="input-form-control" />
            <input type="password" placeholder="Password" class="input-form-control" />
            <input type="password" placeholder="Confirm password" class="input-form-control" />
            <div>
                <label id="@msgId" class="alert-danger m-1"></label>
            </div>
            <button type="submit" class="button-btn btn-registration" id="">Registration</button>
        </div>
    </form>

    <!-- Overlay -->
    <div class="container-modal__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="button-btn" id="Login">Login</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="button-btn" id="Registration">Registration</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('@btnId').addEventListener('click', (e) => {
        dialogPost(e, '@key', '@(new Link(nameof(LoginController), nameof(LoginController.Index)).ToString())');
    });

    document.getElementById("Login").addEventListener("click", () => {
        document.querySelector(".container-modal").classList.remove("right-panel-active");
    });

    document.getElementById("Registration").addEventListener("click", () => {
        document.querySelector(".container-modal").classList.add("right-panel-active");
    });
</script>
