@using FlowersStore.WebUI.Controllers
@using FlowersStore.Core.Services
@using FlowersStore.BusinessLogic
@using Microsoft.Extensions.DependencyInjection
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject UserService userServiceMethods

@{
    var HttpContextUser = HttpContextAccessor.HttpContext.User.Identity.Name;
    var httpContextName = HttpContextUser == null ? "UndefinedUser" : HttpContextUser;

    var isAuthentication = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;

    if (HttpContextUser != null)
    {
        var user = userServiceMethods.Get(HttpContextUser).Result;

        if (user is null)
        {
            httpContextName = "UndefinedUser";
        }

        httpContextName = user.Name;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlowersStore</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox.min.css">
    <link rel="shortcut icon" href="~/Image/favicon.ico" type="image/png">
    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script defer src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script defer type="text/javascript" src="~/slick/slick.min.js"></script>
    <script defer type="text/javascript" src="~/js/jquery.fancybox.min.js"></script>
    <script defer type="module" src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>
    <header>
        <nav class="header-bar navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="logoImage">
                    <svg style="width: 30px; height: 30px;" xmlns="http://www.w3.org/2000/svg" version="1.1" xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.4309699535369873 0.4485650062561035 4.1375932693481445 4.102435111999512">
                        <g fill="#ee1b22">
                            <path d="M1.545 1.832a.846.846 0 0 0 .092.281 1.026 1.026 0 0 0 .181.214.799.799 0 0 0 .608.217.837.837 0 0 0 .82-.58.786.786 0 0 0-.6-.878c-.3-.052-.762.07-.805.43a.43.43 0 0 0 .124.37.405.405 0 0 0 .386.09.377.377 0 0 0 .272-.283.275.275 0 0 0-.001-.116l.016.002a.631.631 0 0 1 .073.016l.009.004.048.023.03.017.026.024c-.005-.005-.022-.03.001.001l.03.044a.23.23 0 0 1 .031.102c.002.02.002.04.002.06v.004a.715.715 0 0 1-.017.079l-.01.03-.006.015c-.004.009-.032.055-.027.05-.017.023-.037.043-.056.065l-.008.008-.008.006-.027.02a.454.454 0 0 1-.135.06.705.705 0 0 1-.38.027.673.673 0 0 1-.332-.175c-.042-.046-.07-.1-.11-.148a2.466 2.466 0 0 1-.106-.136.068.068 0 0 0-.121.057z"></path>
                            <path d="M1.024 2.153a.926.926 0 0 0 .175.236.614.614 0 0 0 .117.095c.038.021.08.036.119.056.08.043.14-.08.062-.125a.38.38 0 0 1-.09-.093.67.67 0 0 1-.074-.113.706.706 0 0 1-.075-.23.806.806 0 0 1-.007-.14l.006-.044a.709.709 0 0 1 .013-.065l.009-.03v-.001c.01-.022.018-.044.029-.066.02-.044.045-.085.07-.128-.024.042.005-.007.017-.023q.019-.024.04-.046a1.2 1.2 0 0 1 .076-.084l.03-.03.004-.003c-.015.016.026-.022.033-.027.03-.023.061-.043.093-.064a1.83 1.83 0 0 1 .112-.069l.055-.029.012-.005a1.716 1.716 0 0 1 .246-.085c.044-.012.09-.022.135-.031l.005-.001.015-.003.067-.01a2.37 2.37 0 0 1 .275-.021q.075-.002.15.002h.013l.01.002.068.008a.952.952 0 0 1 .272.06c-.015-.006-.033-.011-.005 0l.036.014.062.028a1.229 1.229 0 0 1 .118.064l.007.005.014.01.054.042q.05.04.097.086.03.029.057.059l.014.014v.001c.03.038.06.076.086.116.028.043.052.088.076.133l.023.041.002.006.015.037a1.073 1.073 0 0 1 .04.142l.006.025v.002c.003.023.007.045.009.068a.99.99 0 0 1 .004.123l-.006.052-.01.056c-.01.047-.023.092-.036.138l-.012.04a.912.912 0 0 1-.022.056c-.04.089-.06.17-.107.258a.093.093 0 0 0 .11.129.723.723 0 0 0 .32-.225 1.03 1.03 0 0 0 .175-.366 1.298 1.298 0 0 0-.029-.787A1.589 1.589 0 0 0 3.096.495a2.185 2.185 0 0 0-.69-.033 2.424 2.424 0 0 0-.638.144 1.504 1.504 0 0 0-.557.361 1.123 1.123 0 0 0-.293.59.985.985 0 0 0 .106.596z"></path>
                            <path d="M.541 1.545a.938.938 0 0 1 .094-.239c.052-.085.111-.162.156-.252.026-.051.1-.013.079.04a2.448 2.448 0 0 0-.116.43 1.115 1.115 0 0 0-.006.418 1.46 1.46 0 0 0 .128.38l.01.02a1.323 1.323 0 0 1 .112.169l.025.04c.022.022.043.046.067.067a1.41 1.41 0 0 0 .123.105l.019.01.05.024.001.001.015.005c.032.01.064.022.096.034l.037.015.02.007.075.022a1.939 1.939 0 0 0 .215.037l.117.017.04.004.023.001c.079 0 .159 0 .238-.007a1.42 1.42 0 0 0 .382-.088 3.86 3.86 0 0 0 .389-.164 1.58 1.58 0 0 0 .407-.26c.026-.04.11-.05.11.062a1.502 1.502 0 0 1-.881 1.391 1.087 1.087 0 0 1-.812-.042 1.886 1.886 0 0 1-.659-.43 2.105 2.105 0 0 1-.434-.667c-.02-.04-.037-.08-.053-.12a1.84 1.84 0 0 1-.111-.485 1.515 1.515 0 0 1 .044-.545zm1.903 2.727c.02-.039.045-.076.068-.114.05-.085 1.867-1.494 1.935-1.55 0-.003.082-.054.092-.013a.064.064 0 0 1 .028.068.692.692 0 0 1-.018.056l.001.027c0 .049-.004.098-.007.147a1.752 1.752 0 0 1-.042.291 1.938 1.938 0 0 1-.238.56 1.663 1.663 0 0 1-.445.49 1.647 1.647 0 0 1-.59.284 1.267 1.267 0 0 1-.197.033.883.883 0 0 1-.185-.02c-.056-.009-.108-.03-.164-.04-.051-.01-.26-.177-.238-.219zM.528 3.02c.059.051.08.134.138.189.057.055.111.11.173.16.062.052.122.106.184.157.03.025.062.047.093.07l.012.008.013.008.052.034c.137.083.274.17.417.243a2.273 2.273 0 0 1 .466.232.216.216 0 0 1 .058.231.223.223 0 0 1-.192.147.702.702 0 0 1-.331-.068 1.593 1.593 0 0 1-.229-.11 1.652 1.652 0 0 1-.442-.34 1.97 1.97 0 0 1-.314-.43 2.213 2.213 0 0 1-.102-.238 1.029 1.029 0 0 1-.093-.247.059.059 0 0 1 .097-.047z"></path>
                        </g>
                    </svg>
                </div>

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FLOWER<span class="logo-span">STORE</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btnClick nav-btn form-control"  href='@Url.Action("Index", "Home", new { area = "" })'>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btnClick nav-btn form-control"  href='@Url.Action("Privacy", "Home", new { area = "" })'>Privacy</a>
                        </li>
                        @{
                            if (HttpContextUser == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="btnClick nav-btn form-control admin-btn" href='@Url.Action("Index", "Admin", new { area = "Admin" })'>Admin Panel</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
               
                <div class="navbar-expand float-right">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btnClick nav-btn phone-text form-control" href="tel:8(800)654-87-45">8 (800) 654-87-45</a>
                        </li>
                        @{
                            if (isAuthentication)
                            {
                                <li class="nav-item nav-dropdown-box">
                                    <a class="btnClick nav-btn form-control profile-btn">@httpContextName</a>
                                    <ul class="nav-dropdown-items">
                                        @{
                                            if (HttpContextUser != "Admin")
                                            {
                                                <li class="btnClick nav-dropdown-item"><a class="profile-btn-userProfile" onclick="window.location.href='@Link.ToString(nameof(ProfileController), nameof(ProfileController.Index))'">Profile</a></li>

                                            }
                                        }
                                        <li class="btnClick nav-dropdown-item"><a class="profile-btn-logout" onclick="window.location.href='@Link.ToString(nameof(LoginController), nameof(LoginController.Logout))'">Logout</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <div class="accessdenied-popup">
                                        <div class="accessdenied-popup-content">
                                            <img src="~/Image/index-finger.svg" alt="accessdenied-popup" class="accessdenied-popup-img" />
                                            <div class="accessdenied-popup-text">Please Login.</div>
                                        </div>
                                    </div>
                                    <a class="btnClick nav-btn form-control login-btn" onclick="openDialog('@Link.ToString(nameof(HomeController), nameof(HomeController.UserLogin))');">Login</a>
                                </li>
                            }
                        }

                        <li class="nav-item">
                            <a class="btnClick nav-btn form-control" onclick="window.location.href='@Link.ToString(nameof(StoreController), nameof(StoreController.Index))'">Store</a>
                        </li>
                        <li class="nav-item basket-btn">
                            <div class="basket-counter">0</div>
                            <a class="btnClick nav-btn form-control" onclick="window.location.href='@Link.ToString(nameof(BasketController), nameof(BasketController.Index))'">Basket</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="container">

        <div id="popup-add" class="overlay-add">
            <div class="popup-add-box">
                <div class="popup-content"></div>
            </div>
        </div>

        <main role="main" class="pb-3 semiopacity main-box">
            @RenderBody()
        </main>

    </div>

    <div id="cover" class="cover">
        <div id="dual-ring">
            <div class="lds-dual-ring text-center"></div>
        </div>
        <div id="dialogBox"></div>
    </div>

    <footer class="border-top footer text-muted box-shadow">
        <div class="pre-footer">
            <div class="container">
                <div class="pre-footer-block">
                    <div class="pre-footer-text">We accept for payment:</div>
                    <div class="pre-footer-payments">
                        <ul class="payments-icons">
                            <li class="payments-icon">
                                <img src="~/Image/Payments/Payment-1.svg" alt="Payment-1" class="payments-icon-img" />
                            </li>
                            <li class="payments-icon">
                                <img src="~/Image/Payments/Payment-2.svg" alt="Payment-2" class="payments-icon-img" />
                            </li>
                            <li class="payments-icon">
                                <img src="~/Image/Payments/Payment-3.svg" alt="Payment-3" class="payments-icon-img" />
                            </li>
                            <li class="payments-icon">
                                <img src="/Image/Payments/Payment-4.svg" alt="Payment-4" class="payments-icon-img" />
                            </li>
                            <li class="payments-icon">
                                <img src="~/Image/Payments/Payment-5.svg" alt="Payment-5" class="payments-icon-img" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-box">
                <div class="logoImage">
                    <svg style="width: 30px; height: 30px;" xmlns="http://www.w3.org/2000/svg" version="1.1" xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.4309699535369873 0.4485650062561035 4.1375932693481445 4.102435111999512">
                        <g fill="#ee1b22">
                            <path d="M1.545 1.832a.846.846 0 0 0 .092.281 1.026 1.026 0 0 0 .181.214.799.799 0 0 0 .608.217.837.837 0 0 0 .82-.58.786.786 0 0 0-.6-.878c-.3-.052-.762.07-.805.43a.43.43 0 0 0 .124.37.405.405 0 0 0 .386.09.377.377 0 0 0 .272-.283.275.275 0 0 0-.001-.116l.016.002a.631.631 0 0 1 .073.016l.009.004.048.023.03.017.026.024c-.005-.005-.022-.03.001.001l.03.044a.23.23 0 0 1 .031.102c.002.02.002.04.002.06v.004a.715.715 0 0 1-.017.079l-.01.03-.006.015c-.004.009-.032.055-.027.05-.017.023-.037.043-.056.065l-.008.008-.008.006-.027.02a.454.454 0 0 1-.135.06.705.705 0 0 1-.38.027.673.673 0 0 1-.332-.175c-.042-.046-.07-.1-.11-.148a2.466 2.466 0 0 1-.106-.136.068.068 0 0 0-.121.057z"></path>
                            <path d="M1.024 2.153a.926.926 0 0 0 .175.236.614.614 0 0 0 .117.095c.038.021.08.036.119.056.08.043.14-.08.062-.125a.38.38 0 0 1-.09-.093.67.67 0 0 1-.074-.113.706.706 0 0 1-.075-.23.806.806 0 0 1-.007-.14l.006-.044a.709.709 0 0 1 .013-.065l.009-.03v-.001c.01-.022.018-.044.029-.066.02-.044.045-.085.07-.128-.024.042.005-.007.017-.023q.019-.024.04-.046a1.2 1.2 0 0 1 .076-.084l.03-.03.004-.003c-.015.016.026-.022.033-.027.03-.023.061-.043.093-.064a1.83 1.83 0 0 1 .112-.069l.055-.029.012-.005a1.716 1.716 0 0 1 .246-.085c.044-.012.09-.022.135-.031l.005-.001.015-.003.067-.01a2.37 2.37 0 0 1 .275-.021q.075-.002.15.002h.013l.01.002.068.008a.952.952 0 0 1 .272.06c-.015-.006-.033-.011-.005 0l.036.014.062.028a1.229 1.229 0 0 1 .118.064l.007.005.014.01.054.042q.05.04.097.086.03.029.057.059l.014.014v.001c.03.038.06.076.086.116.028.043.052.088.076.133l.023.041.002.006.015.037a1.073 1.073 0 0 1 .04.142l.006.025v.002c.003.023.007.045.009.068a.99.99 0 0 1 .004.123l-.006.052-.01.056c-.01.047-.023.092-.036.138l-.012.04a.912.912 0 0 1-.022.056c-.04.089-.06.17-.107.258a.093.093 0 0 0 .11.129.723.723 0 0 0 .32-.225 1.03 1.03 0 0 0 .175-.366 1.298 1.298 0 0 0-.029-.787A1.589 1.589 0 0 0 3.096.495a2.185 2.185 0 0 0-.69-.033 2.424 2.424 0 0 0-.638.144 1.504 1.504 0 0 0-.557.361 1.123 1.123 0 0 0-.293.59.985.985 0 0 0 .106.596z"></path>
                            <path d="M.541 1.545a.938.938 0 0 1 .094-.239c.052-.085.111-.162.156-.252.026-.051.1-.013.079.04a2.448 2.448 0 0 0-.116.43 1.115 1.115 0 0 0-.006.418 1.46 1.46 0 0 0 .128.38l.01.02a1.323 1.323 0 0 1 .112.169l.025.04c.022.022.043.046.067.067a1.41 1.41 0 0 0 .123.105l.019.01.05.024.001.001.015.005c.032.01.064.022.096.034l.037.015.02.007.075.022a1.939 1.939 0 0 0 .215.037l.117.017.04.004.023.001c.079 0 .159 0 .238-.007a1.42 1.42 0 0 0 .382-.088 3.86 3.86 0 0 0 .389-.164 1.58 1.58 0 0 0 .407-.26c.026-.04.11-.05.11.062a1.502 1.502 0 0 1-.881 1.391 1.087 1.087 0 0 1-.812-.042 1.886 1.886 0 0 1-.659-.43 2.105 2.105 0 0 1-.434-.667c-.02-.04-.037-.08-.053-.12a1.84 1.84 0 0 1-.111-.485 1.515 1.515 0 0 1 .044-.545zm1.903 2.727c.02-.039.045-.076.068-.114.05-.085 1.867-1.494 1.935-1.55 0-.003.082-.054.092-.013a.064.064 0 0 1 .028.068.692.692 0 0 1-.018.056l.001.027c0 .049-.004.098-.007.147a1.752 1.752 0 0 1-.042.291 1.938 1.938 0 0 1-.238.56 1.663 1.663 0 0 1-.445.49 1.647 1.647 0 0 1-.59.284 1.267 1.267 0 0 1-.197.033.883.883 0 0 1-.185-.02c-.056-.009-.108-.03-.164-.04-.051-.01-.26-.177-.238-.219zM.528 3.02c.059.051.08.134.138.189.057.055.111.11.173.16.062.052.122.106.184.157.03.025.062.047.093.07l.012.008.013.008.052.034c.137.083.274.17.417.243a2.273 2.273 0 0 1 .466.232.216.216 0 0 1 .058.231.223.223 0 0 1-.192.147.702.702 0 0 1-.331-.068 1.593 1.593 0 0 1-.229-.11 1.652 1.652 0 0 1-.442-.34 1.97 1.97 0 0 1-.314-.43 2.213 2.213 0 0 1-.102-.238 1.029 1.029 0 0 1-.093-.247.059.059 0 0 1 .097-.047z"></path>
                        </g>
                    </svg>
                </div>
                <div class="footer-info">
                    &copy; 2020 - FLOWER<span class="logo-span">STORE</span> - <a class="btnClick" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>

<script>
    setTimeout(() => {
        document.querySelector('.popup-add-box').style.display = 'block';
        if (document.querySelector('.nav-dropdown-items') != null) {
            document.querySelector('.nav-dropdown-items').style.display = 'block';
        }
    }, 1000);
</script>